*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  /* General */
  --blue-cethi: #265984;

  /* HMI */
  --frame: #0A0A0A;
  --keyboard: #202020;
  --buttons: #111120;
  --buttons-text: #F5F5F5;
  --display-off: #3C4144;
  --display-on: #75756C;

  /* Active */
  --active-buttons: #111120;

  /* Fonts */
  --brand-font : nasalization, sans-serif;
  --accent-font: "Montagu Slab", serif;
  --base-font: figtree, sans-serif;
  --hmi-font: obvia, sans-serif;

  /* Font-size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* shadows */


  /* gradients */



  /* borders */

}

/* Global & utilities */
body {
  font-family: var(--base-font);
}

/* Header */
header {
  height: 100px;
  border-bottom: 5px solid var(--blue-cethi);
  padding: 25px 0;
  margin-bottom: 50px;
}
header h1 {
  font-size: var(--fs-42);
  color: var(--blue-cethi);
  text-align: center;
}
@media (max-width: 768px) {
  header {
    height: 75px;
    padding: 20px 0;
    margin-bottom: 0px;
  }
  header h1 {
    font-size: var(--fs-32);
  }
}

/* Discorver */
.discover{
  width: 396px;
  margin: 0 auto;
  padding: 83px 0;
  border-radius : 50% 50% 50% 50% / 11% 11% 11% 11%;
  background-color: var(--frame);
}
.display {
  width: 180px;
  height: 233px;
  margin: 0 auto 55px;
  background-color: var(--display-off);
  border-radius: 3px;

  /* Texte dans l'écran */
  color: var(--buttons-text);
  font-family: var(--hmi-font);
}
.keyboard {
  width: 295px;
  height: 305px;
  margin: 0 auto;
  border-radius : 50% 50% 50% 50% / 25% 25% 25% 25%;
  background-color: var(--keyboard);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.btn{
  width: 63px;
  height: 63px;
  background-color: var(--buttons);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;

  /* Si les bouton ont des textes */
  color: var(--buttons-text);
}
.btn:hover {
  outline: 2px solid var(--buttons-text);
}
.btn-up {
  grid-column: 2 / 3;
  grid-row: 1;
}
.btn-back {
  grid-column: 1 / 2;
  grid-row: 2;
}
.btn-ok {
  width: 80px;
  height: 80px;
  grid-column: 2 / 3;
  grid-row: 2;
}
.btn-menu {
  grid-column: 3 / 3;
  grid-row: 2;
}
.btn-down {
  grid-column: 2 / 3;
  grid-row: 3;
}
@media (max-width: 768px) {
  .discover{
    /* Faire en sorte que ça ne créer pas une marge bidon  */
    scale: 75%;
  }
}