*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  /* General */

  /* HMI */
  --frame: #0A0A0A;
  --keyboard: #202020;
  --buttons: #111120;
  --buttons-text: #F5F5F5;
  --display-off: #3C4144;
  --display-on: #75756C;

  /* Active */
  --active-buttons: #111120;

  /* Fonts */
  --main-title-font : nasalization, sans-serif;
  --accent-font: "Montagu Slab", serif;
  --base-font: figtree, sans-serif;
  --hmi-font: obvia, sans-serif;

  /* Font-size */
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* shadows */


  /* gradients */



  /* borders */

}

/* Global & utilities */
/* Navigation */
/* Header */
/* Search */
/* Shortcuts */
/* Discorver */
/* Informations */


/* Tests */
h1 {
    font-family: var(--base-font);
    background-color: lightgray;
    max-width: 400px;
    border-radius: 999px;
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid darkgray;
    font-size: var(--fs-42);
}
h2 {
    font-family: var(--accent-font);
    font-size: var(--fs-18);
    margin: 0 auto;
    max-width: 400px;
    text-align: right;
    padding: 0;
    transform: translate(-10%, -65%);
    position: relative;
}
h2 span {
    font-family: var(--main-title-font);
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}
.hmi-tools, .hmi-informations {
    width: 20%;
}
.hmi-container {
    width: 40%;
}
section {
    background-color: lightgray;
    min-height: 100%;
}
.discover {
    /* Utiliser les pseudo element before et after pour shape la bonne forme.*/
    background: #0A0A0A;
    height: 600px;
    width: 320px;
    margin: 0 auto;
    border-radius : 50% 50% 50% 50% / 11% 11% 11% 11%;
    padding-top: 80px;
  }
  .display {
    background: #75756C;
    width: 160px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 4px;
  }
  .keyboard{
    background: #202020;
    /*background: white;*/
    margin: 0 auto;
    width: 225px;
    height: 300px;
    border-radius : 50% 50% 50% 50% / 11% 11% 11% 11%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
      
  }
  .btn {
    border: none;
    outline: none;
    width : 60px;
    height: 60px;
    background:  #111120;
    color: #F5F5F5;
    border-radius: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btn-up {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  .btn-back {
    grid-column: 1 / 2;
    grid-row: 2;
  }
  .btn-ok {
    grid-column: 2 / 3;
    grid-row: 2;
    width : 80px;
    height: 80px;
  }
  .btn-menu {
    grid-column: 3 / 3;
    grid-row: 2;
  }
  .btn-down {
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .btn:hover {
    outline: 2px solid white;
  }
  .btn:onclick, .btn:focus {
    outline: 2px solid red;
  }
  
  .display h2 {
    text-align: center;
    /* Couleur a trouvé */
    background: #4d556f ;
    font-size: 1.2em;
    margin-top: 0;
  }
  .menu-list li {
    list-style-type: none;
    font-size: 1.2em;
    padding: 2px 0;
  }
  .menu-list li:not(:last-of-type){
    border-bottom: 2px solid white;
  }
  ul {
    background: green;
    text-align: left;
  }