*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --blue-cethi: #265984;
  --white: #f1f1f1;
  --black: #0f0f0f;

  /* HMI Colors */
  --frame: #0A0A0A;
  --keyboard: #202020;
  --buttons: #111120;
  --buttons-text: #F5F5F5;
  --display: #3C4144;
  --title-background-color: #9ab3d2;

  /* Active */
  --active-buttons: #111120;

  /* Fonts */
  --brand-font : nasalization, sans-serif;
  --accent-font: "Montagu Slab", serif;
  --base-font: figtree, sans-serif;
  --hmi-font: obvia, sans-serif;

  /* Font-size */
  --fs-11: 0.69rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-42: 2.625rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;

  /* shadows */


  /* gradients */



  /* borders */

}

/* Global & utilities */
body {
  font-family: var(--base-font);
  background-color: var(--white);
}

/* Header */
header {
  border-bottom: 5px solid var(--blue-cethi);
  padding: 25px 0;
  margin-bottom: 50px;
}
header h1 {
  font-size: var(--fs-42);
  color: var(--blue-cethi);
  text-align: center;
}
@media (max-width: 450px) {
  header {
    padding: 20px 0;
  }
  header h1 {
    font-size: var(--fs-32);
  }
}
@media (max-width: 320px) {
  header {
    padding: 5px 0;
    border-bottom: 4px solid var(--blue-cethi);
    margin-bottom: 25px;
  }
  header h1 {
    font-size: var(--fs-26);
  }
}
/* Discorver */
.discover{
  max-width: 400px;
  margin: 0 auto;
  padding: 80px 0px;
  border-radius : 50% 50% 50% 50% / 11% 11% 11% 11%;
  background-color: var(--frame);
}
.display {
  width: 180px;
  height: 235px;
  margin: 0 auto 55px;
  background-color: var(--display);
  border-radius: 3px;
  padding: 3px;
  color: var(--white);
  font-family: var(--hmi-font);
  text-align: center;
}
.home-title {
  font-weight: 500;
  font-size: var(--fs-20);
  padding: 2px;
}
.menu-title {
  font-weight: 500;
  font-size: var(--fs-20);
  padding: 2px;
  background-color: var(--title-background-color);
}
.menu-element, .menu-element-empty{
  list-style-type: none;
  font-size: var(--fs-20);
  padding: 4px 2px;
  font-weight: 200 ;
}
.menu-element:nth-child(3){
  background-color: var(--white);
  color: var(--black);
}
.menu-element:not(:last-of-type){
  border-bottom: 1px solid var(--white);
}
.keyboard {
  max-width: 295px;
  height: 305px;
  margin: 0 auto;
  border-radius : 50% 50% 50% 50% / 25% 25% 25% 25%;
  background-color: var(--keyboard);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.btn{
  width: 65px;
  height: 65px;
  background-color: var(--buttons);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
}
/* Gérer le focus et hover selon sur ordi our smartphone */
@media (pointer:fine) {
  .btn:hover, .btn:focus {
    outline: 2px solid var(--buttons-text);
  }
}
.btn img {
  width: 40%;
}
.btn-up {
  grid-column: 2 / 3;
  grid-row: 1;
}
.btn-back {
  grid-column: 1 / 2;
  grid-row: 2;
}
.btn-ok {
  width: 80px;
  height: 80px;
  grid-column: 2 / 3;
  grid-row: 2;
  font-size: var(--fs-26);
  text-transform: uppercase;
  color: var(--buttons-text);
}
.btn-menu {
  grid-column: 3 / 3;
  grid-row: 2;
}
.btn-down {
  grid-column: 2 / 3;
  grid-row: 3;
}
@media (max-width: 450px) {
  .discover{
    max-width: 300px;
    padding: 60px 0px;
  }
  .display {
    width: 135px;
    height: 176px;
    margin: 0 auto 41px;
    font-size: var(--fs-18);
  }
  .keyboard {
    max-width: 221px;
    height: 229px;
  }
  .btn{
    width: 50px;
    height: 50px;
  }
  .btn-ok {
    width: 60px;
    height: 60px;
    font-size: var(--fs-22);
  }
  .menu-title {
    font-weight: 400;
    font-size: var(--fs-14);
  }
  .menu-element{
    font-size: var(--fs-14);
    padding: 2px 2px;
  }
}
@media (max-width: 320px) {
  .discover{
    max-width: 225px;
    padding: 45px 0px;
  }
  .display {
    width: 100px;
    height: 132px;
    margin: 0 auto 31px;
    font-size: var(--fs-12);
    padding: 1px;
  }
  .keyboard {
    max-width: 166px;
    height: 172px;
  }
  .btn{
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }
  .btn-ok {
    width: 45px;
    height: 45px;
    font-size: var(--fs-18);
  }
  .menu-title {
    font-weight: 200;
    font-size: var(--fs-11);
  }
  .menu-element{
    font-size: var(--fs-11);
    padding: 1.5px 2px;
    font-weight: 100;
  }
}
.water-drop {
  margin-top: 5%;
  width: 75%;
}